<html>
  <h1>Please type the details of the Album you would like to add</h1>
  <form action="/albums" method="POST">
    <div>
      <p>
        <label>Album Title</label>
        <input type="text" name="title">
      </p>
    </div>
    <div>
      <p>
        <label>Release Year:</label>
        <input type="text" name="release_year">
      </p>
    </div>
    <div>
      <p>
        <label>Release Year:</label>
        <input type="text" name="artist_id">
      </p>
    </div>
    <p>
      <input type="submit" value="submit the form" </p>
  </form>
  <html>